!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
    %script(src="jquery.min.js")
    %script(src="bootstrap.min.js")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
  %body
    .container
      %h1 File successfully shared! 
      %a(href="/#{@key}")> Share this link with your friends

